# Code samples

First, we'll import all the necessary libraries and functions that we have implemented.

In [2]:
import pandas as pd
from preprocess import preprocess

To illustrate how our preprocessing works, let's import the dataset that we are using in our experiment.

In [3]:
df = pd.read_csv("CarsData.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

Let us see what is the effect of our function `preprocess`, used for transforming the data.

In [4]:
preprocess(df, target="price", verbose=False).head()

,componenet0,componenet1,componenet2,componenet3,componenet4,componenet5,componenet6,componenet7,componenet8,componenet9,...,componenet29,componenet30,componenet31,componenet32,componenet33,componenet34,componenet35,componenet36,componenet37,price
0,-0.061325,1.086454,-0.837091,0.603295,0.262565,0.117377,0.128906,-0.016715,0.109262,0.067967,...,0.019938,0.018612,-0.001738,0.021694,0.632401,0.278334,-0.019606,-0.043779,0.014855,7495
1,-0.150470,1.128804,-0.862481,0.475072,0.295706,0.027867,0.665889,0.829599,-0.006955,-0.097599,...,-0.005759,0.005499,0.131387,0.006647,-0.001230,0.012497,0.000178,-0.000314,0.002219,10989
2,-1.581833,-0.123695,0.960080,-0.099154,0.239616,-0.220379,-0.185822,0.069912,-0.061182,0.918685,...,0.146501,-0.583324,0.020740,-0.006295,0.015868,0.011957,-0.236977,0.049940,0.014723,27990
3,0.168580,-0.551741,0.395775,0.607504,-0.581399,0.443354,0.092376,0.097957,0.202668,0.032486,...,-0.023202,-0.007319,-0.027988,0.020799,-0.001232,-0.017309,0.068689,0.071858,0.278447,12495
4,0.092386,0.741502,-0.837758,0.169809,-0.049627,0.276358,-0.579975,0.089769,-0.276826,-0.127186,...,0.010764,0.007696,-0.001379,-0.000430,-0.001072,-0.007729,0.002192,0.000616,-0.008122,7999

We can try to tweak a few parameters. For example, instead of using the default feature extraction method, which is PCA (Principal Component Analysis) we can use LDA (Linear Discriminant Analysis):

In [5]:
preprocess(df, target="price", feature_extraction_method="LDA", verbose=False).head()

,componenet0,componenet1,componenet2,componenet3,componenet4,componenet5,componenet6,componenet7,componenet8,componenet9,...,componenet29,componenet30,componenet31,componenet32,componenet33,componenet34,componenet35,componenet36,componenet37,price
0,4.078430,1.162027,-0.620544,0.102534,0.624363,0.044283,1.633284,-0.180133,1.154254,0.868012,...,-1.713080,1.886796,-6.555960,2.035413,-0.174779,0.377262,0.279240,0.214726,0.131374,7495
1,1.804505,-0.997714,0.431322,-0.346480,-0.089322,0.032255,-0.463499,-0.119391,-0.574145,-0.558497,...,-0.392219,0.092754,-1.259338,-1.706386,-1.874932,-0.169326,0.950268,-1.223660,-0.325899,10989
2,-3.670387,-1.827402,-0.329004,1.221570,0.351202,0.478909,-0.673353,-0.708843,1.712731,-0.420790,...,-0.564140,-0.212347,-0.155665,0.010871,0.324179,0.049120,0.122903,0.040340,0.043420,27990
3,0.130875,-0.026030,0.256254,0.424460,-0.655940,0.050720,-0.307550,0.064457,-0.004407,-0.731562,...,0.699752,-0.207406,-0.165630,-1.460313,1.354471,-3.865342,-2.303212,-0.470219,-0.875656,12495
4,1.881615,0.048389,0.319601,-0.420374,0.046675,-0.050191,-0.178517,0.094389,-0.241788,0.112766,...,-0.284876,0.305662,-0.036740,0.136912,-0.208775,0.458313,-1.667743,0.171841,0.056596,7999

Let us increase the value of `feature_selection_treshold`. This will result in a lower number of columns in the final DataFrame:

In [10]:
preprocess(df, target="price", feature_selection_treshold=2000.0, verbose=False).head()

,componenet0,componenet1,componenet2,componenet3,componenet4,componenet5,componenet6,componenet7,componenet8,componenet9,componenet10,componenet11,componenet12,componenet13,componenet14,price
0,-0.981048,0.679875,0.147892,-0.120933,-0.103911,0.065558,-0.063098,0.015268,0.013696,-0.028118,-0.003455,-0.000466,0.011959,-0.005700,-0.013838,7495
1,-0.981048,0.679875,0.147892,-0.120933,-0.103911,0.065558,-0.063098,0.015268,0.013696,-0.028118,-0.003455,-0.000466,0.011959,-0.005700,-0.013838,10989
2,0.062023,-1.139473,-0.387697,-0.447721,-0.619009,-0.302524,0.012263,0.009894,-0.157196,-0.013041,0.014629,0.803541,0.076548,-0.239815,0.389751,27990
3,0.493825,-0.285132,0.000138,-0.030834,0.009453,0.286782,-0.114907,0.029837,0.003053,-0.017671,0.015245,-0.012662,-0.016933,0.011779,0.032227,12495
4,-0.686074,0.486874,0.118342,-0.102913,-0.081238,0.109803,-0.073460,0.018182,0.011567,-0.026028,0.000285,-0.002906,0.006180,-0.002204,-0.004625,7999

Increasing the value of parameter `variance_treshold` will have a similar effect:

In [14]:
preprocess(df, target="price", variance_treshold=0.02, verbose=False).head()

,componenet0,componenet1,componenet2,componenet3,componenet4,componenet5,componenet6,componenet7,componenet8,componenet9,...,componenet18,componenet19,componenet20,componenet21,componenet22,componenet23,componenet24,componenet25,componenet26,price
0,-0.143760,-1.197589,-0.789500,0.640042,0.139803,0.227712,0.161199,-0.061879,-0.096281,-0.234582,...,0.014345,0.094109,0.056279,-0.038185,0.047426,-0.001758,0.006547,-0.078953,-0.001912,7495
1,-0.233004,-1.246443,-0.816162,0.517579,0.136860,0.208445,0.378550,0.933181,0.188291,0.051168,...,-0.005642,-0.028377,0.050789,-0.290092,-0.172600,-0.002858,-0.050044,0.044640,-0.003367,10989
2,-1.504619,0.343596,1.124916,-0.108280,0.118863,-0.156361,0.451221,-0.121453,-0.754570,0.403208,...,0.020932,-0.040316,-0.233125,-0.123052,0.030225,-0.013286,0.014594,-0.046396,0.001958,27990
3,0.241604,0.655107,0.516039,0.617079,-0.676354,0.444135,0.020167,-0.010677,0.014737,-0.133096,...,0.015914,0.034665,-0.063268,0.096906,-0.084571,0.046863,-0.036875,0.213229,-0.000558,12495
4,0.009715,-0.853076,-0.820826,0.166001,0.040883,0.108627,-0.087063,-0.065556,-0.055231,-0.329621,...,0.013932,-0.054623,0.030938,-0.059205,0.023362,-0.020157,-0.000179,-0.031667,0.001467,7999